body {
    background-color: brown;
    margin: 0;
}
.parent {
    height: 5px ;
    width: 200px;
    background-color: #eee;
    margin: auto;
    position: relative;
    top: 100px;
}
 .parent .child {
    height: 100%;
    width: 40%;
    position: absolute;
    background-color: cadetblue;
}
.parent .child span {
    background-color: cadetblue;
    width: 20px;
    height: 10px;
    position: relative;
    bottom: 34px;
    color: burlywood;
    left: 61px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    padding: 3px;
}
.border {
    width: 0;
    height: 0;
    border-width: 7px;
    border-style: solid;
    border-color: cadetblue transparent transparent transparent;
    position: relative;
    bottom: 32px;
    left: 72px;
}


